.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;

}

.tab-item {
  background-color: black;
}

.bet-page{
  background-color: black;
  padding-bottom: 6.33rem;
}

.test-pane{
  background-color: black;
}